.form {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  gap: 16px;
}

.backButton {
  min-width: 100px;
}

.nextButton {
  min-width: 100px;
}

.locationInput {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.locationChips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.locationChip {
  margin-right: 8px;
  margin-bottom: 8px;
}

