.drawer {
  width: 240px;
}

.drawerPaper {
  width: 240px;
}

.content {
  flex-grow: 1;
  padding: 24px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

